doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

  body
    div.container
      div.row
        div.col
          h1 Welcome!
          p Please press button to login Google
          a(href="/auth/google")
            button.btn.btn-primary.btn-large LOGINSELF :)